name: Build

on:
  push:

env:
  TOOLCHAIN_URL: https://github.com/openlgtv/buildroot-nc4/releases/download/webos-d7ed7ee/arm-webos-linux-gnueabi_sdk-buildroot.tar.gz
  TOOLCHAIN_SHA256: 32816626e99fb34922a49d0c639f7c8a30356fffb222372d4823027f1382f640
  TOOLCHAIN_DIR: /opt/arm-webos-linux-gnueabi_sdk-buildroot
  TOOLCHAIN_FILE: /opt/arm-webos-linux-gnueabi_sdk-buildroot/share/buildroot/toolchainfile.cmake

jobs:
  build-native-component:
    strategy:
      matrix:
        build-type: [Debug, Release]

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
        fetch-depth: 0

    - name: Download and unpack toolchain
      working-directory: /opt
      run: |
        wget -q -O toolchain.tar.gz ${TOOLCHAIN_URL}
        echo "${TOOLCHAIN_SHA256} toolchain.tar.gz"|sha256sum -c -
        tar xf toolchain.tar.gz

    - name: Relocate toolchain
      working-directory: ${{ env.TOOLCHAIN_DIR }}
      run: |
        ./relocate-sdk.sh

    - name: CMake Version
      run: cmake --version

    - name: Create Build directory
      run: cmake -E make_directory ${{github.workspace}}/build

    - name: Build component
      working-directory: ${{github.workspace}}/build
      shell: bash
      run: cmake -DCMAKE_BUILD_TYPE=${{ matrix.build-type }} -DCMAKE_TOOLCHAIN_FILE=$TOOLCHAIN_FILE .. && make hyperion-webos gm_backend halgal_backend dile_vt_backend vtcapture_backend

    - name: List files
      run: find .

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: hyperion_webos_${{ matrix.build-type }}
        path: |
          ${{github.workspace}}/build/hyperion-webos
          ${{github.workspace}}/build/*.so

    - uses: DoozyX/clang-format-lint-action@v0.14
      with:
        source: './src'
        extensions: 'c,h,cpp'
        clangFormatVersion: 14

    - name: Release
      uses: softprops/action-gh-release@v1
      if: ${{ startsWith(github.ref, 'refs/tags/') && matrix.build-type == 'Release' }}
      with:
        files: |
          ${{github.workspace}}/build/hyperion-webos
          ${{github.workspace}}/build/*.so
