name: Build

on:
  push:

jobs:
  build-native-component:
    strategy:
      matrix:
        build-type: [Debug, Release]

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
        fetch-depth: 0

    - name: Download webOS NDK
      run: wget -q https://github.com/webosbrew/meta-lg-webos-ndk/releases/download/1.0.g-rev.5/webos-sdk-x86_64-armv7a-neon-toolchain-1.0.g.sh -P ${{github.workspace}}/temp

    - name: Install webOS NDK
      run: chmod 755 ${{github.workspace}}/temp/webos-sdk-x86_64-armv7a-neon-toolchain-1.0.g.sh && sudo ${{github.workspace}}/temp/webos-sdk-x86_64-armv7a-neon-toolchain-1.0.g.sh -y

    - name: Initialize NDK Environments
      run: env -i bash -c '. /opt/webos-sdk-x86_64/1.0.g/environment-setup-armv7a-neon-webos-linux-gnueabi && env' >> $GITHUB_ENV

    - name: CMake Version
      run: cmake --version

    - name: Create Build directory
      run: cmake -E make_directory ${{github.workspace}}/build

    - name: Build component
      working-directory: ${{github.workspace}}/build
      shell: bash
      run: cmake -DCMAKE_BUILD_TYPE=${{ matrix.build-type }} .. && make hyperion-webos gm_backend halgal_backend dile_vt_backend vtcapture_backend

    - name: List files
      run: find .

    - name: Upload artifact
      uses: actions/upload-artifact@v2
      with:
        name: hyperion_webos_${{ matrix.build-type }}
        path: |
          ${{github.workspace}}/build/hyperion-webos
          ${{github.workspace}}/build/*.so

    - uses: DoozyX/clang-format-lint-action@v0.14
      with:
        source: './src'
        extensions: 'c,h,cpp'
        clangFormatVersion: 14

    - name: Release
      uses: softprops/action-gh-release@v1
      if: ${{ startsWith(github.ref, 'refs/tags/') && matrix.build-type == 'Release' }}
      with:
        files: |
          ${{github.workspace}}/build/hyperion-webos
          ${{github.workspace}}/build/*.so
